.col-md-4 {   
    text-align: center;
	display:grid;
	margin-top: 50px;
	padding-top: 20px;
}
    
p {
	 color: white;
	 background-color: rgba(0, 0, 0, 0.4);
	 font-size: 20px;
}

i {
	margin-bottom: 10px;
	color: rgb(175, 175, 175);
	
}

h1 {
	color: white;
	text-align: center;
	font-size: 60px;
}


.container-fluid {
	margin-top: 20px;
	background-color: rgba(0, 0, 0, 0.4);
	
}

.glowny {
	background-color: rgba(0, 0, 0, 0.4);
	
}

body {
	background-image: url("../1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}



