

.col-md-4 {
        
    text-align: center;
	display:grid;
	margin-top: 30px;
	
	padding-top: 20px;
}
.col-md-6 {    
    text-align: center;
	display:grid;
	margin-top: 50px;
	padding-bottom: 150px;
}
      
p {
	color: white;
	 background-color: rgba(0, 0, 0, 0.4);
	 font-size: 20px;
}

i {
	margin-bottom: 10px;
}

h1 {
	color: white;
	text-align: center;
	font-size: 60px;
}


.container-fluid {
	margin-top: 20px;
	background-color: rgba(0, 0, 0, 0.4);
	min-height: 90%;
	
}

body {
	background-image: url("../Images/Screenshot_2.png");
}



