.glowny {
    background-color: rgba(0,0,0,0.4);
    margin: 20px  0 0;
    height: 89%;
    width: 100%;
    display: table;
}

.kontener {
    background-color: rgba(0,0,0,0.6);
    margin: 0 2% 1% 2%;
    width: 96%;
    height: 77%;
    color: white;
    font-size: 22px;
    text-align: center;
    padding: 10 10 0 10;
    display: table;
   
    
}

body {
    background-image: url("../Images/Screenshot_2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

h1 {
    text-align: center;
    color:white;
    font-size: 55px;
}
