
body {
    background-image: url("../1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.glowny {
    background-color: rgba(0,0,0,0.4);
    margin: 20px  0 0;
    height: 89%;
    width: 100%;
    display: table;
    text-align: center;
}

.glowny h1 {
    color: white;
    font-size: 55px;
}

.kontener {
    background-color: rgba(0,0,0,0.6);
    margin: 0 2% 1% 2%;
    width: 96%;
    height: 77%;
    color: white;
    font-size: 22px;
    text-align: center;
    padding: 10 10 0 10;
    display: table;
   
    
}

.content {
    margin-top: 2%;
}

.content h6 {
    margin-top: 35px;
    font-size: 30px;
}

i {
    margin-right: 10px;
}

span {
    font-size: 18px;
}

.btn-primary {
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 24px;
    transition: 0.25s;
    border: 0;
    background: #A3660B;
    outline: none;
    font-size: 20px;
}

.btn-primary:hover {
    color: white;
    text-decoration: none;
    background: #2ecc71;
}

.btn-primary:active {
    color: white;
    text-decoration: none;
    background: #1e9751;
    border: none;
    outline: none;
}

.btn-secondary {
    padding-right: 20px;
    padding-left: 20px;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    border: 0;
    background: #c43631;
    outline: none;
    font-size: 20px;
    margin-bottom: 15px;
}

.btn-secondary:hover {
    color: white;
    text-decoration: none;
    background: #d9534f;
}

.btn-secondary:visited{
    color: white;
    text-decoration: none;
    background: #af3a36;
    border: none;
    outline: none;
}